body {
    background: #1c1917;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #fafaf9;
    text-align: center;
}

h2 {
    color: #d6d3d1;
}

.about {
    color: #d6d3d1;
}

.skills {
    color: #fdba74;
}

.contact {
    color: #fda4af;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #d6d3d1;
    border-radius: 10%;
}

a {
    text-decoration: underline;
    color: #78716c;
}

.project p {
    text-align: center;
    margin: 15px;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #a8a29e;
    /* choose a color */
    display: block;
    margin: auto;
}

.project h3 {
    text-align: center;
}